*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #272727;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    line-height: 1.3;
    font-size: 14px;
}
.content-main{
    width: 75%;
    margin-left: 15px;
}
.content-main__title2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.headline{
    
    padding: 40px 0;
    text-align: center;
}
h2{  
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    padding-bottom: 10px;
    border-bottom: 1px solid #272727;
    margin-bottom: 15px;
    display: inline-block;
} 
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
}
ul.products li{
    flex-basis: 25%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
.product-top{
    overflow: hidden;
    position: relative;
}
.product-top a.product-thumb{
    display: block;
}
.product-top a.product-thumb>img{
    display: block;
}

.button-add{
    display: flex;
    width: 100%;
    bottom: -40px;
    position: absolute;
    transition: ease-in-out 0.4s;
    text-align: center;
}
.product-top .button-add>a{
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    border: 0;
    background: #191919;
    color: #fff;
    width: 100%;
    padding: 9px 7px;
    margin-right: 5px;
}
.product-sale{  
    left: 10px;
    top: 10px;
    position: absolute;    
    background: #000000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.product-sale>span{
    font-weight: bold;
    font-size: 12px;
    left: 5px;
    top: 10px;
    position: absolute;
    color: #fff;
}
ul.products li:hover .button-add{
    bottom: 0px;
}
ul.products li .product-in4{
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
}
ul.products li .product-in4 a.name{
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
    position: relative;
    
}
ul.products li .product-in4 .price{
    color: #f94c43;
    font-weight: 700;
}
ul.products li .product-in4 del{
    text-decoration: line-through;
    color: grey;
    margin-left: 5px;
    font-weight: lighter;
}
/* ------------------- */
#menu-bag{
    border: none;
    margin-left: 30px;
}
.menu-left__brand, .menu-left__price-product{
    margin-left: 47px;
    line-height: 22px;
}
.menu-left__brand input{
    margin-right: 5px;
}
.menu-left__price-product input{
    margin-right: 5px;
}
.menu-left__brand li{
    font-size: 12px;
    color: rgb(139, 137, 137);
}
.menu-left__price-product li{
    font-size: 14px;
    color: rgb(139, 137, 137);
}
.menu-left__brand>h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}
.menu-left__price-product>h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}
.menu-left__size>h3{
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}
.menu-left__size>ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
}
.menu-left__size li>input{
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: white;
    width: 40px;
    height: 35px;
    font-size: 13px;
    color: rgb(102, 101, 101);
}
.menu-left__size li>input:focus{
    background-color: black;
    color: white;
}
.content-mobile{
    display: none;
}
@media screen and (max-width: 800px) {
    .content-main__title2{
        text-align: center;
    }
    .content-main{
        width: 100%;
        margin: 5px 0;
    }
    ul.products{
        margin: 0 10px;
    }
    ul.products li{
        flex-basis: 50%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .content-mobile{
        display: block;
        margin: 0 20px;
        margin-bottom: 50px;
    }
    .content-mobile>.list{
        display: flex;
        justify-content: space-between;
        background-color: #F2F5FA;
        margin-bottom: 5px;
        padding: 8px 10px;
        font-size: 11px;
       
    }
    .content-mobile>.list>h3{
        font-weight: bold;
    }
    .content-mobile>.list>p{
        font-weight: bold;
        font-size: 15px;
    }
}
