*{
    text-decoration: none;
    font-family: Lucida Sans Unicode;
    list-style: none;
    color: #484747;
    font-weight: normal;
}
body{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0 auto;
}
.bar>a{
    
    color: #ec4c5f;
}
.bar{
    font-size: 11px;
    background-color:  #f1f0e4;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Lucida Sans Unicode;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}



.full-main{
    position: relative;
}
.main-menu>.container>.logo-header{
    width: 20%;
    margin-right: 0px;
    text-align: center;
}
.main-menu>.container>.logo-header h1{
    
    width: 250px;
    margin: 0 0;
    font-size: 27px;
    color:#272727;
    font-weight: 500;
    font-family: Lucida Sans Unicode;
    line-height: 1.4;
}
.main-menu>.container>.logo-header>a:link{
    text-decoration: none;
}
.main-menu{
    box-shadow: 0 1px 3px #ccc;
    background-color: #fff;
}
.desk-menu{
    position: relative;
    box-sizing: border-box;
}
.desk-menu > ul>li>a {
    font-family: Lucida Sans Unicode;
    display: block;
    padding: 0;
    line-height: 66px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;
}
.desk-menu a::after{
    position: absolute;
    content: '';
    background: #272727;
    height: 2px;
    width: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}
.desk-menu a:hover::after{
    width: 100%;
}
.desk-menu > ul>li{
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0;
    z-index: 5;
    margin-right: 10px;   
}
.main-menu>.container{
    display: flex;
    align-items: center;
}
.main-header{
    text-align: center;
    width: 58%;
    font-size: 10px;
}
.action{
    display: inline-block;
    display: flex;
    margin-left: 180px;
}
.action>.icon{
    padding: 0 5px;
    font-size: 15px;
}
.action>.icon img{
    width: 18px;
    height: 18px;
}

.action>.icon-mobile{
    display: none;
}

/*  mobile */
@media screen and (max-width: 800px){
    .main-menu>.container>.logo-header h1{
        font-size: 20px;
        width: 140px;
        line-height: 2;
    }
    .bar{
        font-size: 10px;
    }
    .desk-menu{
        display: none;
    }
    .headline>h2{
        font-size: 20px;
    }
    .action{
        margin-right: 20px;
    }
    .action>.icon-mobile{
        display: block;
    }
    .action>.icon-mobile ion-icon{
        margin-left: 5px;
        width: 22px;
        height: 22px;
    }
    .nav-input{
        display: block;
    }
    .search{
        width: 200px;
    }
    .search>.menu-title{
        margin-top: 30px;
        margin-left: 40px;
    }
    
}

/* js */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255);
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 100px;
}