*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #272727;
    text-decoration: none;
    box-sizing: border-box;
}

    

#wrapper-collection-1, #wrapper-collection-1{
    padding-right: 14px;
    padding-left: 14px;
    margin-right: 25px;
    margin-left: 25px;
}
body{
    line-height: 1.3;
    font-size: 14px;
}
.slide-banner>a>img{
    max-width: 100%;
    height: auto;
}
.headline{
    
    padding: 40px 0;
    text-align: center;
}
h2{  
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    padding-bottom: 10px;
    border-bottom: 1px solid #272727;
    margin-bottom: 15px;
    display: inline-block;
} 
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}
ul.products li{
    
    flex-basis: 25%;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
.product-top{
    overflow: hidden;
    position: relative;
}
.product-top a.product-thumb{
    display: block;
}
.product-top a.product-thumb>img{
    display: block;
}

.button-add{
    display: flex;
    width: 100%;
    bottom: -50px;
    position: absolute;
    transition: ease-in-out 0.4s;
    text-align: center;
}
.product-top .button-add>a{
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    border: 0;
    background: #191919;
    color: #fff;
    width: 100%;
    padding: 9px 7px;
    margin-right: 5px;
}
.product-sale{  
    left: 10px;
    top: 10px;
    position: absolute;    
    background: #000000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.product-sale>span{
    font-weight: bold;
    font-size: 12px;
    left: 5px;
    top: 10px;
    position: absolute;
    color: #fff;
}
ul.products .product-item:hover .button-add{
    bottom: 0px;
}
ul.products li .product-in4{
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
}
ul.products li .product-in4 a.name{
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
    position: relative;
    
}
ul.products li .product-in4 .price{
    color: #f94c43;
    font-weight: 700;
}
ul.products li .product-in4 del{
    text-decoration: line-through;
    color: grey;
    margin-left: 5px;
    font-weight: lighter;
}
@media screen and (max-width: 800px){
    ul.products{
        margin: 0 10px;
    }
    ul.products li{
        flex-basis: 50%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .product-top .button-add>a{
        font-size: 9px;
    }
}


